/*publice*/
.mar_bottom_20 {
	margin-bottom:20px;
}
/*sign in*/
header.sgin_header {
	background: #00b38a;
	width: 100%;
	height:300px;
	text-align: center;
	padding-top: 30px;
	color: #fff;
	position: relative;
}
.content_box {
	position: relative;
	background-color: #fff;
	width: 350px;
	box-shadow: 0 0 5px rgba(0,0,0,.09);
	z-index: 1;
	margin:-180px auto 0 auto;
	overflow: hidden;
	padding-left: 30px;
	font-size: 14px;
}
.content_box form {
	margin-left: 20px;
}
.content_box input {
	width: 270px;
	height: 44px;
	margin: 20px 20px 20px 0;
	padding-left: 10px;
	background-color: #f8f8f8;
}
.content_box input.sign_submite {
	background-color: #00b38a;
	border: 1px solid #00b38a;
	color: #fff;
	border-radius: 2px;
	text-align: center;
	font-size: 14px;
}
.content_box  a {
	display: inline-block;
	width: 290px;
	text-align: right;
	color: #00b38a;
	font-size: 14px;
}
footer.sign_footer {
	text-align: center;
	padding: 50px
}
/*register*/
.content_box .register_nav {
	border-bottom: 1px solid #ebebeb;
    width: 280px;
}
.content_box .register_nav a {
	position: relative;
	width:135px;
	height: 30px;
	text-align: center;
	font-size: 16px;
	color: #000;
	cursor: pointer;
}
.content_box .register_nav {
	margin: 30px  20px 0 0;
}
.content_box .register_nav a .icon_phone,
.content_box .register_nav a .icon_mail{
	position: absolute;
    background-image: url(../images/icon-phone.png);
    background-size: 14px 16px;
    display: inline-block;
    width: 14px;
    height: 16px;
    left: 2px;
    top: 0px;
}
.content_box .register_nav a .icon_mail {
	background-image: url(../images/icon-mail.png);
    background-size: 18px 12px;
    height: 12px;
    left: 15px;
    width: 18px;
    top: 2px;
}
.content_box .register_nav a.active {
	color: #00b38a;
}
.content_box .register_nav a.active .icon_phone {
	background-image: url(../images/icon-phone-active.png);
}
.content_box .register_nav a.active .icon_mail {
	background-image: url(../images/icon-mail-active.png);
}
.content_box .register_nav .tab_active {
	height: 1px;
    width: 140px;
    background-color: #00b38a;
    display: block;
    position: relative;
}
.content_box .register_nav .tab_active:before,
.content_box .register_nav .tab_active:after {
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -3px;
	content: '';
	width: 0;
	height: 0;
	line-height: 0;
	border:6px solid transparent;
	border-bottom-color: #00b38a;
    top: -11px;

}
.content_box .register_nav .tab_active:after {
	z-index: 3;
	top: -10px;
	width: 0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color: #fff;
}
.content_box .phone_box .passwod_lit {
	width: 130px;
}
.content_box .phone_box .auth_code {
	position: relative;
}
.content_box .phone_box .auth_code a {
	background-image: url(images/icon-reflash.jpg);
    background-size: 19px 21px;
    height: 21px;
    width: 19px;
    position: absolute;
    left: 240px;
    top: 30px;
}
.content_box .phone_box .auth_code img {
	position: absolute;
    left: 120px;
    top: 20px;
    height: 44px;
}
.content_box .checkbox {
	zoom: 1;
    width: 13px;
    height: 13px;
    outline: 0;
    margin-left: 19px;
    margin-right: 5px;
}
.content_box .user_treaty {
	display: inline;
}
.content_box .point {
	color: red;
}
